<h4>Application Form</h4>
<form action="/job/{{job['id']}}/apply" method="post">
    <div class="mb-2">
        <label>Full Name</label><br>
        <input type="text" name="full_name" placeholder="Kathan Shah">
    </div>
    
    <div class="mb-2">
        <label>Email</label><br>
        <input type="email" name="email" placeholder="kathan@shah.com">
    </div>

    <div class="mb-2">
        <label>LinkedIn URL</label><br>
        <input type="url" name="linkedin_url" placeholder="https://linked.com/in/kathanshah">
    </div>

    <div class="mb-2">
        <label>Education</label><br>
        <textarea name="education" cols="23"></textarea>
    </div>

    <div class="mb-2">
        <label>Work Experience</label><br>
        <textarea name="work_experience" cols="23"></textarea>
    </div>

    <div class="mb-2">
        <label>Resume URL</label><br>
        <input type="url" name="resume_url">
    </div>
    
    <!-- <div class="mb-2">
        <label>Contact Number</label><br>
        <input type="tel" name="phone_number" placeholder="+91-7982867838">
    </div> -->
    <div class="h-captcha" data-sitekey="017933d5-afb5-4787-9e27-79204f0ffb70"></div>
    <input type="submit">
</form>
<script src="https://js.hcaptcha.com/1/api.js" async defer></script>